<div>
  <p>file upload</p>

  <div>
      <input type="file" name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>

  </div>


  <!-- <form action="/photos/new" enctype="multipart/form-data" method="post">
    <input type="file" accept="image/*" name="file-to-upload">
    <input type="submit" value="Upload it">
  </form>   -->
  <!-- <form ref='uploadForm' 
      id='uploadForm' 
      action='photos/new' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form>      -->
   <!-- <input type="file"  onchange="angular.element(this).scope().inputFileNameChanged(this)"> -->
   <!-- <input type="file" name="file" accept="image/*" onchange="angular.element(this).scope().uploadFile(this.files)"/> -->

   <!-- <button ng-click = "uploadFile()">upload photo -->

  

</div>