<div class = "user-detail" >
  <p>
    User details:
  </p> 
  <!-- <pre>{{main.usersModel | json }} </pre>  -->
   <ul ng-repeat=" (key, value) in main.usersModel.userById">
    <li >
      {{key+':' +' '+ value}}
    </li>
  </ul>

  <!-- Most recent photo:{{main.usersModel.recentPhoto.file_name}}<br>
  <p>most commented photo: {{main.usersModel.mostCommmentedPhoto.file_name}}</p> -->
  
     <p> most recent photo: uploaded:{{main.usersModel.recentPhoto.date_time}} <br>
    <a href="#!/singlephoto/{{main.usersModel.recentPhoto._id}}" >
       <img src = "{{'images/'+main.usersModel.recentPhoto.file_name}}"
       width = "50" height = "50" border = "0"  /> </a>
    </p>
    <p> most commented photo: number of comments: {{main.usersModel.mostCommmentedPhoto.comments.length}} <br>
        <a href="#!/singlephoto/{{main.usersModel.mostCommmentedPhoto._id}}">
           <img src = "{{'images/'+main.usersModel.mostCommmentedPhoto.file_name}}"
           width = "50" height = "50" border = "0"  /> </a>
        </p>
  <!-- <p>
    <a href="#!/singlephoto/{{main.usersModel.mostCommmentedPhoto._id}}"> Most commented</a>
  </p>
  -->
 



  <a href="#!/photos/{{main.uId}}"  >  {{ 'Photos of : '+main.usersModel.userById.first_name+' '+main.usersModel.userById.last_name}}</a>
</div>